@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Jomhuria&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #223147;
}

.category {
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    font-family: Jomhuria;
    font-size: 2.5vw;
}
.points {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    font-family: Jomhuria;
    font-size: 4vw;
}
.difficulty {
    margin-left: 15px;
    color: white;
    font-family: Jomhuria;
    font-size: 2.5vw;
}

.question-num {
    color: white;
    font-family: ABeeZee;
    font-size: 5vw;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.question {
    color: white;
    font-family: Jomhuria;
    font-size: 3vw;
    width: 60%;
    text-align: center;
    margin-left: 50%;
    translate: -50%
}

.answers {
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    margin-left: 50%;
    translate: -50%;
}

.answers > button {
    width: 15vw;
    margin: 15px;
    aspect-ratio: 4/1;
    border-radius: 10px;
    border: none;
    color: #223147;
    font-size: 1vw;
    font-family: Arial;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;
}
.answers > button:hover {
    background-color: #324869;
    color: white;
}
@media screen and (max-width: 900px) {
    .answers {
        display: flex;
        flex-direction: column;
    }
    .answers > button {
        width: 30vw;
        font-size: 2vw;
    }
    .category {
        font-size: 5vw;
    }
    .points {
        font-size: 8vw;
    }
    .difficulty {
        font-size: 5vw;
    }
    .question-num {
        font-size: 8vw;
    }
    .question {
        font-size: 4vw;
    }
}
@media screen and (max-width: 500px) {
    .answers {
        display: flex;
        flex-direction: column;
    }
    .answers > button {
        width: 45vw;
        font-size: 4vw;
    }
    .category {
        font-size: 6vw;
    }
    .points {
        font-size: 10vw;
    }
    .difficulty {
        font-size: 6vw;
    }
    .question-num {
        font-size: 10vw;
    }
    .question {
        font-size: 5vw;
    }
}